h1{
    color:#6A1B9A;
    font-size:25px;
    font-family:serif;
    font-weight:bold;
    font-style:italic;
    text-align:center;
}
p{
    color:#37474F;
    font-size:16px;
    font-style:italic;
    font-family:sans-serif;
    line-height:1.5;
}
h2{
    color:teal;
    font-size:20px;
    font-weight:bold;
}
li{
    color:#37474F;
    font-style:italic;
}
h1.favorite-places{
    text-align:left;

}
img{
    width:400px;
    height:auto;
}