header{
    width:100%;
    background-color:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
   font-size:16px;
}
header li{
    display:inline-block;
}
header a{
    color:white;
    padding:20px;
    text-decoration:none;
}
a:hover{
    color:magenta;
    text-decoration: overline;
}
main{
    font-family:sans-serif;
}
 .logo a{
    color:#FFC107;
    word-spacing:2px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
}
body{
   background-color: #f4f4f4;
   display:flex;
   flex-direction: column;
   min-height:100vh;
   margin:0;
   padding:0;
}
.first-section{
    flex-grow: 1;
}
h1{
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
    color:#FFC107;
    font-family:cursive;
}
.first-section p {
    font-size:18px;
    font-family:sans-serif;
}
.first-section li{
    padding:10px;
    font-weight:bold;
}
a{
    color:black;
}
h2{
    color:#FFC107;
}
footer{
    width:100%;
    background-color: black;
    color:white;
    bottom:0;
}
#favorite-places{
    max-width:1000px;
    margin:0 auto;
    background-color: #ffffff;
}
#favorite-places li{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    
}
#favorite-places .img-container, #favorite-places .text-container{
    margin-right:40px;
}
#favorite-places .img-container img{
   width:500px;
}
#favorite-places .main-content{
    text-align:center
}
#favorite-places p{
    line-height:20px;
}
.restaurant{
    margin:0 auto;
    margin-right:500px;
    margin-left:500px;
    background-color:white;
}
.restaurant .menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style: none;
    margin-right:40px;
}
.restaurant h2, .restaurant p, .favoritethings p, .favoritethings h2{
    text-align:center;
}
.restaurant p, .restaurant li, .favoritethings p{
    font-family:sans-serif;
}
span{
    border-bottom:3px solid #FFC107;
}
.favoritethings{
    margin:0 auto;
    background-color:white;
    margin-left:200px;
    margin-right:200px;
    margin-top:200px;
    margin-bottom:200px;
}
.favoritethings ol{
    display:flex;
    justify-content: center;
    align-items:center;
}
.favoritethings img{
    max-width:100%;
    height:auto;
    margin-top:10px;
    border-radius:30px;
}
.favoritethings ol li{
    padding:30px;
}
.favoritethings li a{
    font-weight:bold;
}
